.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-btn{
  padding-top: 1%;
  padding-right: 5%;
}

.user-name {
  padding-top: 1%;
  padding-left: 5%;
  font-size: 25px;
}

.task-text {
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.task_user {
  padding-top: 10px;
  font-size: 25px;
}