a {
  text-decoration: none;
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-btn{
  padding-top: 1%;
  padding-right: 5%;
}

.user-name {
  padding-top: 1%;
  padding-left: 5%;
  font-size: 20px;
}

.task-text {
  color: white;
}